<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="c10_fragments"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/c10_fragments/css/default.css">
         </property>
         <property
               name="appName"
               value="c10_fragments">
         </property>
      </product>
   </extension>

</plugin>
